{
    "swagger": "2.0",
	"info": {
		"description": "This is an application to manager side jobs ",
		"version": "1.0.0",
		"title": "Freela Control",
		"termsOfService": "http://notyet.yet/terms/",
		"contact": {
			"email": "daniela@daniela.io"
		},
		"license": {
			"name": "Apache 2.0",
			"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"host": "notyet.daniela.io",
    "basePath": "/v1",
    "tags": [
		{
			"name": "TASKS",
			"description": "Tarefas requisitadas"
		},
		{
			"name": "SISTEMAS",
			"description": "Sistema dos clientes"
		},
		{
			"name": "AUTENTICACAO",
            "description": "Logins dos sistemas",
            "externalDocs": {
				"description": "Link para o google docs",
				"url": "http://google.docs"
			}
		}
    ],
    "schemes": [
        "https",
        "http"
    ],
        
    "paths": {
		"/system": {
			"get": {
				"tags": [
					"TASKS"
				],
				"summary": "Add a new pet to the store",
				"description": "",
				"operationId": "addPet",
				"consumes": [
					"application/json",
					"application/xml"
				],
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Pet object that needs to be added to the store",
						"required": true,
						"x-ext-test": "Extension Test",
						"schema": {
							"type": "object",
							"required": [
								"name",
								"photoUrls"
							],
							"properties": {
								"id": {
									"type": "integer",
									"format": "int64"
								},
								"category": {
									"type": "object",
									"properties": {
										"id": {
											"type": "integer",
											"format": "int64"
										},
										"name": {
											"type": "string"
										}
									},
									"xml": {
										"name": "Category"
									}
								},
								"name": {
									"type": "string",
									"example": "doggie"
								},
								"photoUrls": {
									"type": "array",
									"xml": {
										"name": "photoUrl",
										"wrapped": true
									},
									"items": {
										"type": "string"
									}
								},
								"tags": {
									"type": "array",
									"xml": {
										"name": "tag",
										"wrapped": true
									},
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "integer",
												"format": "int64"
											},
											"name": {
												"type": "string"
											}
										}
									}
								},
								"status": {
									"type": "string",
									"description": "pet status in the store",
									"enum": [
										"available",
										"pending",
										"sold"
									]
								}
							}
							
						}
					}
				],
				"responses": {
					"405": {
						"description": "Invalid input"
					}
				},
				"security": [
					{
						"petstore_auth": [
							"write:pets",
							"read:pets"
						]
					}
                ]
            }
        }
    }
			
}